body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding:0;margin:0}
table {border-collapse:collapse;border-spacing:0}fieldset,img {border:0}
address,caption,cite,code,dfn,em,strong,th,var {font-weight:normal;font-style:normal}
ol,ul {list-style:none}caption,th {text-align:left}h1,h2,h3,h4,h5,h6{font-weight:normal}

/*图片上传的样式*/
.input_style_file_upload {padding: 4px 10px;height: 500px;line-height: 20px;position: relative;width: 100%;cursor: pointer;color: #888;border: 1px solid #ddd;border-radius: 4px;overflow: hidden;display: block;zoom: 1}
.input_style_file_upload  input {position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;filter: alpha(opacity=0);cursor: pointer}
.input_style_file_upload span{ display: block; /*font-size: 30px;*/ font-size: 40px; position: absolute; left: 50%; top: 50%; text-align: center; transform: translate(-50%,-50%);}
.input_style_file_upload span p{ font-size: 16px; margin-top: 10px;}
.input_style_file_upload:hover {border-color: #ccc;text-decoration: none;background: #f5f5f5;}
